---
title: St0x Solvers
published: true
---

<script>
</script>
Solvers play a pivotal role in the functioning and efficiency of the market. The issuance contract and the Execution engine present trading intent from multiple different orders. To execute, trade orders must be triggered; this is performed by solvers.

A solver is a bot that analyzes the blockchain for arbitrage opportunities and automatically triggers trades between parties whose trading intents overlap.
 							
It is important to note that solvers are not counterparties in the exchange. Their role is limited to triggering transactions between the parties.			
Solvers can trigger trades in the St0x Programmatic Intents System (order-to-order), between the Programmatic Intents System and the issuance contract (secondary-primary) or between any other external points of liquidity.		
Anyone can program and deploy solvers on St0x DEX to seek to capture arbitrage opportunities and thereby participate in improving the overall efficiency of the venue. 

The St0x solver is integrated with 200+ liquidity venues.